

<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Position</th>
            <th>Etat</th>                            
            
        </tr>
    </thead>
    <tbody>

        <tr>
            
            <td >{{annonce.id}}</td>
            <td>{{annonce.titre}}</td>
            <td> {{annonce.description}}</td>
            <td> {{annonce.position}}</td>
            <td> {{annonce.etat}}</td>
            
            
            </tr>
            </tbody>
        </table>
        <td><a [routerLink]="['/liste']"> Retour au menu principal</a></td>





